*~
.*~
#*
\#*#
*#
.#*
*.o
*.elc
*.orig
*.local
thumbs.db
Thumbs.db
.DS_Store
.recentf
places
history
tramp
kkcrc
.python-environments
ac-comphist.dat

elpa/
#site-lisp/
eshell/
auto-save-list/
server/
url/
